<%= render partial: 'layouts/banners/top_banner' %>

<%# navbar START %>
<div style="-webkit-box-shadow: -2px 13px 44px -1px rgba(0,0,0,0.43);box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 7%);" class="w-full py-4 bg-white flex justify-between items-center mb-4 md:mb-12">
  <%# left side start %>
  <div class="flex justify-start items-center px-4">
    <%# logo start %>
    <div class="h-6 w-6 rounded bg-gray-900 flex justify-center items-center mr-2">
      <h3 class="text-xs text-center">
        logo
      </h3>  
    </div> 
    <%# logo end %>
    <h1 class="text-3xl font-bold text-gray-900 text-left">
      MyApp
    </h1>
  </div> 
  <%# left side end %>

  <%# right side start %>
  <div class="px-4 hidden md:flex md:justify-end md:items-center ">
   <%= link_to 'Pricing', root_path, class: 'text-base text-gray-900 font-semibold mr-4'%> 
   <%= link_to 'About', root_path, class: 'text-base text-gray-900 font-semibold mr-4'%> 
   <%= link_to 'Contact', root_path, class: 'text-base text-gray-900 font-semibold mr-4'%> 
   <%= link_to 'Download', root_path, class: 'text-base text-white bg-primary-purple rounded-full py-2 px-4'%> 
  </div>
  <%# right side end %>
</div>
<%# navbar END %>

<%# hero section START %>
<div class="w-full flex flex-col justify-center items-center px-2 md:flex-row-reverse md:justify-between md:items-start md:max-w-5xl md:mx-auto mb-24">
  <div class="md:max-w-md">
    <%= image_tag 'hero-video-placeholder.png', class: 'block mb-6 mx-auto'%>
  </div>

  <div class="md:max-w-md">
    <h1 class="font-bold text-center text-4xl sm:text-5xl mb-8 md:text-left">
      This App allows you to do something cool! Read below to find out how ok?
    </h1>
    <h3 class="text-2xl text-center text-gray-500 font-semibold mb-8 md:text-left">
      Available on iOS and Android.
    </h3>
    <div class="w-full flex justify-center items-center md:justify-start">
      <%= link_to 'Download', root_path, class: 'text-xl py-4 px-10 rounded-full text-center text-white font-semibold bg-primary-purple'%>
    </div>
  </div>

</div>
<%# hero section END %>

<%# sub section 1 START %>
<div class="w-full flex flex-col justify-center items-center px-2 mb-24 md:flex-col-reverse">
  <div class="mb-12 md:max-w-md">
    <%= image_tag 'landing-subsection-video-placeholder.png', class: 'block mx-auto'%>
  </div>

  <div class="md:mb-6">
    <h1 class="text-2xl text-center font-bold text-gray-900 mb-4 md:text-4xl">
      Quick Demo
    </h1> 

    <h3 class="font-semibold text-center text-lg text-gray-500 md:text-2xl">
      Discover key features of this app in this short demo
    </h3>
  </div>
</div>
<%# sub section 1 END %>

<%# sub section 2 START %>
<div class="md:mx-auto flex flex-col justify-between items-center px-2 mb-32 md:flex-row-reverse md:max-w-5xl">
  <div class="mb-8 max-w-lg">
    <%= image_tag 'landing-subsection-2-placeholder-img.png', class: 'block mx-auto '%>
  </div>

  <div class="md:max-w-md md:mb-6">
    <h1 class="text-2xl text-center font-bold text-gray-900 mb-4 md:text-left md:text-4xl">
      Do a thing even faster than before.
    </h1> 

    <h3 class="font-semibold text-center text-lg text-gray-500 md:text-2xl md:text-left">
      No more waiting for x.y.z you can do it too!
    </h3>
  </div>
</div>
<%# sub section 2 END %>

<%# sub section 3 START %>
<div class="md:mx-auto flex flex-col justify-between items-center px-2 mb-32 md:flex-row md:max-w-5xl">
  <div class="mb-8 max-w-lg">
    <%= image_tag 'landing-subsection-3-placeholder-img.png', class: 'block mx-auto '%>
  </div>

  <div class="md:max-w-md md:mb-6">
    <h1 class="text-2xl text-center font-bold text-gray-900 mb-4 md:text-left md:text-4xl">
      Have your cake and eat it too!
    </h1> 

    <h3 class="font-semibold text-center text-lg text-gray-500 md:text-2xl md:text-left">
      using state-of-the-art cake identification
      algorithms, you can generate cake
      recipes better than your grandma 
      used to make.
    </h3>
  </div>
</div>
<%# sub section 3 END %>

<%# sub section 4 START %>
<div class="md:mx-auto flex flex-col justify-between items-center px-2 mb-32 md:flex-row-reverse md:max-w-5xl">
  <div class="mb-8 max-w-lg">
    <%= image_tag 'landing-smartwatch.png', class: 'block mx-auto '%>
  </div>

  <div class="md:max-w-md md:mb-6">
    <h1 class="text-2xl text-center font-bold text-gray-900 mb-4 md:text-left md:text-4xl">
      Integrates with your smartwatch for some reason.
    </h1> 

    <h3 class="font-semibold text-center text-lg text-gray-500 md:text-2xl md:text-left mb-4">
      Get real-time cake recipe updates to your smart watch so you never miss out on the latest trendy foody bullshit. And just what the hell does the graphic mean?
    </h3>

    <h3 class="font-semibold text-center text-lg text-gray-500 md:text-2xl md:text-left">
      <span class="text-primary-purple font-semibold">New!</span> Siri voice activated recipes, so you can get your hands dirty while keeping your phone clean.
    </h3>

  </div>
</div>
<%# sub section 4 END %>

<%# social proof START %>
<div class="w-full px-2 mb-24">
  <h1 class="text-center text-2xl font-bold text-gray-900 mb-4 md:text-4xl md:mb-8">
    Some Social Proof
   </h1>
   <%# social card items container START %>
  <div class="flex flex-col justify-center items-center md:flex-row">
    <%= render partial: 'static_pages/landing_pages/social_card' %>
    <%= render partial: 'static_pages/landing_pages/social_card' %>
    <%= render partial: 'static_pages/landing_pages/social_card' %>
  </div>
  <%# social card items container END %>
</div>
<%# social proof END %>

<%# pricing toggler START %>
<div class="md:mx-auto flex flex-col justify-between items-center px-2 mb-32 md:flex-row-reverse md:max-w-5xl">
  <div id="pricing_toggler_container" class="w-full max-w-sm">
    <%= javascript_pack_tag 'src/components/static_pages/landing_pages/PricingToggler' %>
  </div>

  <div class="md:max-w-md">
    <h1 class="text-2xl text-center font-bold text-gray-900 mb-4 md:text-left md:text-4xl">
      Easy Pricing
    </h1> 

    <h3 class="font-semibold text-center text-lg text-gray-500 md:text-2xl md:text-left mb-4">
      Get immediate access to all pro features for one low price. 
    </h3>
  </div>
</div>
<%# pricing toggler END %>

<%# exit download start %>
<div class="w-full max-w-5xl mx-auto px-4 mb-24">
  <div class="w-full flex flex-col justify-center items-center bg-gray-900 rounded-xl px-2 py-12 md:py-16 md:flex-row">
    <h1 class="text-gray-500 text-2xl text-center font-semibold mb-6 md:mb-0 md:mr-8">
      Try it for free
    </h1> 

    <div class="flex flex-row justify-center items-center">
      <%= link_to 'Download', root_path, class: 'text-xl py-4 px-16 rounded-full text-center text-white font-semibold bg-primary-purple'%>
    </div>
  </div>
</div>
<%# exit download end %>

<%# footer start %>
<div class="w-full max-w-3xl mx-auto px-4 mb-24">
 <div class="w-full flex flex-row flex-wrap justify-between items-center">
  <%# list group items start %>
  <%= render 'static_pages/landing_pages/footer/link_group1'%>
  <%= render 'static_pages/landing_pages/footer/link_group1'%>
  <%= render 'static_pages/landing_pages/footer/link_group1'%>
  <%# list group items end %>
 </div> 
</div>
<%# footer end %>

<h1 class="text-center text-gray-600">
  <%= Date.current.year %> <%= COMPANY_NAME %> 
</h1>