<% provide(:title, "Terms Of Service")%>

<%# top line %>
<div class="w-full py-1 bg-primary-purple"></div>

<div class="w-full py-8 px-4 flex-column items-center bg-gray-200">
  <div class="w-full max-w-4xl m-auto">
    <h1 class="font-bold text-3xl text-left text-gray-900 mb-2">Terms Of Service</h1>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">Please read these Terms and Conditions ("Terms", "Terms and Conditions" "Terms Of Service") carefully before using the <%= APP_NAME %> website and the <%= APP_NAME %> Mobile Applications (the "Service") operated by <%= COMPANY_NAME %> ("us", "we", or "our").</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">By using the <%= APP_NAME %> website and/or Mobile Applications from the ("Apple App Store or Google Play Store") you ("The Customer") enter into a contract with <%= COMPANY_NAME %> to abide by the terms of service below.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Business Classification) - <%= APP_NAME %> is an internet business that does xyz</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Age Restrictions) - You must be 18 or older to register, sign up, access and/or create orders on the <%= APP_NAME %> website or Mobile Applications platforms. You may not use the <%= APP_NAME %> or Mobile Application for nefarious reasons purposes or for exploitive behavior.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Website and Mobile App Availability) - There is no guarantee to you ("The Customer") that the <%= APP_NAME %> Website Or Mobile Application will be online and accessible. Site/Application Maintenance, Web Server problems or other Application related technical problems may arise and the <%= APP_NAME %> Website or Mobile Application may be offline from time to time.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Data Loss) - <%= COMPANY_NAME %> is not responsible for any Data Loss or destruction of customer data due to unforseen technical issues related to the <%= APP_NAME %> Website or Mobile Application.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Account Termination) - <%= COMPANY_NAME %> reserves the right to terminate A Customer (The Customer)'s' account disabling access to the <%= APP_NAME %> Website or Mobile Applications at any time for any reason.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(3rd Party Website Links and Content) - <%= COMPANY_NAME %> is not responsible for the content or validity of any 3rd party Web Links or content that is associated with <%= APP_NAME %>, <%= APP_NAME %> Mobile Applications, or our current partners, past partners, or future partners.</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Use of the <%= APP_NAME %> Website, or Applications) - By using The <%= APP_NAME %> website and/or Mobile Applications, you warrant and certify that the information you provide to <%= COMPANY_NAME %> is accurate. <%= COMPANY_NAME %> has the right at all times to verify the validity of the information that is provided by you ("The Customer")</p>

    <p class="font-regular text-lg text-left mb-4 text-gray-900">(Refunds/Returns) - If ("The Customer") is not satisfied with the quality of service of their <%= APP_NAME %> order, they are entitled to a full refund of the order total which is available upon their request.</p>
  </div>

</div>