<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rails Starter Pack</title>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= render 'layouts/headers/default' %>

    <%= render 'layouts/headers/seo_meta_tags' %>

    <%= render 'layouts/headers/font_import_links' %>
    <%= render 'layouts/headers/ionicons' %>
    <%= render 'layouts/headers/google_recaptcha'%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/headers/google_tag_manager'%>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>


  </head>
  <body>
    <%= yield %>
  </body>
</html>